---
/**
 * Fixed background layers: gradient mesh, spotlight, particles, grain.
 * Positioned behind all content at z-index 0.
 */
---

<div id="mouse-bg" class="mouse-bg" aria-hidden="true">
  <div id="gradient-mesh" class="mouse-bg__gradient"></div>
  <div id="spotlight" class="mouse-bg__spotlight"></div>
  <div id="particles-container" class="mouse-bg__particles"></div>
  <div id="grain-overlay" class="mouse-bg__grain"></div>
</div>