---
/**
 * Vertical scroll progress bar on the right edge.
 */
---

<div id="scroll-progress" class="scroll-progress" aria-hidden="true">
  <div id="scroll-progress-bar" class="scroll-progress__bar"></div>
  <div id="scroll-progress-glow" class="scroll-progress__glow"></div>
</div>